In [ ]:
print("HELLO ")

In [ ]:
for i in range(12): 
    print("NUM: ", i**2)