In [3]:
print("HII")

HII

In [23]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3, 4, 5], 
                  [4, 1, 2, 7, 8],
                  [5, 4, 3, 1, 5]], columns=["first", "second", "third", "fourth", "fifth"])



df["fifth"] = df["fifth"] ** 0.5
print(df)

   first  second  third  fourth     fifth
0      1       2      3       4  2.236068
1      4       1      2       7  2.828427
2      5       4      3       1  2.236068

In [ ]:
print("nine")

In [15]:
text = "one, two, three, four, five, six, seven, eight, nine, ten"
text.split(", ")

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

## HELLO 
### Hi 
# hey